
div.icon{
	position: relative;
bottom: 1370px; left: 370px;


}
div.icon:hover + div.tooltip-content{
	display: block;
	top: 40px;
}

div.tooltip-content{
	background-color: black;
	padding: 10px;
	position: absolute;
	width: 500px;
	display:none ;
	color: white;
}